.levels-container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    gap: 10px;

    .primary-1 {
        grid-row: 2;
        grid-column: 1;
    }

    .secondary-1 {
        grid-row: 1;
        grid-column: 1;
    }

    .secondary-2 {
        grid-row: 3;
        grid-column: 1;
    }
}

@include media-breakpoint-up(xl) {
    .levels-container {
        grid-template-columns: 1fr auto;
        grid-template-rows: auto auto;

        .primary-1 {
            grid-row: 1 / span 2;
            grid-column: 1;

            +.secondary-1 {
                max-width: 450px;
                grid-column: 2;

                +.secondary-2 {
                    grid-row: 2;
                }
            }
        }

        .secondary-1 {
            max-width: unset;
            grid-row: 1;
            grid-column: 1;
        }

        .secondary-2 {
            max-width: 450px;
            grid-row: 1;
            grid-column: 2;
        }
    }
}